<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6" >
        <label>Name</label>
        <input type="text" id="name" class="form-control" placeholder="Lamine"  formControlName="name"/>
    </div>
    <div>
        <div class="form-group col-md-6">
            <label for="inputAddress">adress</label>
            <input type="text" class="form-control" name="adress" id="adress"  formControlName="adress" >
        </div>
    </div>
    <div>
        <div class="form-group col-md-6">
            <label for="inputAddress">Credit Card </label>
            <input type="text" class="form-control" placeholder="1234 5678 91011" name="creditCardType" 
            formControlName="creditCard">

        </div>
    </div>


    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-success pull-right">
        Validate
    </button>
</form>